/* contact.css */
body {
    margin: 0;
    padding: 0;
  }
  
  .homeDisplay {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; /* Adjust height as needed */
  }
  
  .contentContainer {
    align-items: center;
  }
  
  .girlContainer {
    margin-right: 20px; /* Adjust spacing between image and text */
  }
  
  .girl {
    height: 400px;
    width: 400px; /* Adjust size as needed */
  }
  
  .textContainer {
    font-size: 1.2rem;
    border: 1px solid black;
  }

  .rightImageContainer {
    margin-top: 450px;
    align-items: center;
  }
  .rightImage {
    width: 700px; /* Adjust size as needed */
    margin-left: 20px; /* Add margin to separate the image from text */
  }
  .righttext{
    font-size: 1.2rem;
    border: 1px solid black;
  }
  