.sidebar {
    width: 200px;
    height: 100vh; /* Adjust as needed */
    background-color: #f4f4f4;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.sidebar-header {
    background-color: rgb(188, 244, 255);
    color: #040006;
    padding: 10px;
}

.sidebar-content {
    padding: 10px;
}

.sidebar-content ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-content ul li {
    padding: 8px 0;
    cursor: pointer;
}

.sidebar-content ul li.active {
    font-weight: bold;
    color: #333;
}

.add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .plus-icon {
    margin-right: 5px;
  }
  .delete-button {
    background-color: lightblue; /* Red background color */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 8px 16px; /* Add padding */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-left: 5px; /* Add margin to separate from the board title */
  }
  
  .delete-button:hover {
    background-color:rgb(25, 160, 205); /* Darker shade on hover */
  }
  .board-title.active {
  background-color: #e8f0fe; /* Change to your preferred highlight color */
  font-weight: bold; /* Change to your preferred text style */
}
